body {
background-color: rgb(187, 206, 206);

}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centro {
    display: flex;
    justify-self: center;
    align-items: center;
}
.first{
    background: rgb(44, 44, 44);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.second{
    background: rgb(44, 44, 44);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: white;
}